:root {
    --primary-color: #17bebb;
    --primary-color-trans: #17bebbcb;
    --secondary-color: #2E282A;
    --accent-color-one: #E8C547;
    --accent-color-two: #BF0603;
    --text-color: #161616;
    --heading-fonts: "Racing Sans One", sans-serif;
    --text-fonts: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: var(--text-fonts);
    font-size: 1.1rem;
}


h1 {
    font-size: 3rem;
    font-family: var(--heading-fonts);
    color: var(--secondary-color);
    text-align: center;
}

p {
    font-size: 1rem;
    font-family: var(--text-fonts);
    color: var(--text-color);
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-family: var(--heading-fonts);
    color: var(--secondary-color);
    text-align: center;
}

main {
    margin: 0 5vw;
}

main img {
    width: 100%;
    height: auto;
}

footer a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

footer img {
    width: 2rem;
    padding: 3px;
    margin: 10px;
}


/* class declarations */
.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--primary-color-trans);
    top: 10%;
}

.hero article img {
    width: 15vw;
    float: right;
}

.hero article p {
    padding: 2.4% 0;
}

.hero article {
    position: absolute;
    top: 30%;
    padding: 10px;
    margin: 10px 45px;
    background-color: var(--primary-color-trans);
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 40px;
}

.header-grid nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-grid img {
    width: 6rem;
    height: auto;
}

.title-section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.title-section-grid h2 {
    grid-column: 1 / 4;
}

.adventure-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.adventure-grid h2 {
    grid-column: 1 / 6;
}

.adventure-grid figure {
    display: flex;
    flex-direction: column;
    text-align: center;
}