:root {
    --primary-color: #17bebb;
    --primary-color-trans: #17bebbcb;
    --secondary-color: #2E282A;
    --accent-color-one: #E8C547;
    --accent-color-two: #BF0603;
    --text-color: #161616;
    --heading-fonts: "Racing Sans One", sans-serif;
    --text-fonts: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: var(--text-fonts);
    font-size: 1.1rem;
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 100%;
}




h1 {
    font-size: 3rem;
    font-family: var(--heading-fonts);
    color: var(--secondary-color);
    text-align: center;
}

p, label, figcaption {
    font-size: 1rem;
    font-family: var(--text-fonts);
    color: var(--text-color);
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-family: var(--heading-fonts);
    color: var(--secondary-color);
    text-align: center;
}

main {
    margin: 0 5vw;
    min-height: 80vh;
}

main img {
    width: 100%;
    height: auto;
}

footer a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

footer img {
    width: 2rem;
    padding: 3px;
    margin: 10px;
}


/* class declarations */
.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--primary-color-trans);
    top: 10%;
}

.hero article img {
    width: 15vw;
    float: right;
}

.hero article p {
    padding: 2.4% 0;
}

.hero article {
    position: absolute;
    top: 30%;
    padding: 10px;
    margin: 10px 45px;
    background-color: var(--primary-color-trans);
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 40px;
}

.header-grid nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-grid img {
    width: 6rem;
    height: auto;
}

.title-section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.title-section-grid h2 {
    grid-column: 1 / 4;
}

.adventure-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.adventure-grid h2 {
    grid-column: 1 / 6;
}

.adventure-grid figure {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-page {
    padding: 8rem 0;
}

.contact-page h2 {
    padding-bottom: 4rem;
}

.display-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display-flex p {
    text-align: left;
    padding: 2rem 0 0 0;
}

.display-flex h2 {
    padding: 0 0 9rem 0;
}

.text-div-flex {
    display: flex;
    align-content: space-around;
    flex-direction: column;
}

.display-flex iframe {
    width: 56vw;
    height: 56vh;
    margin: 0 14px;
}

/* form styling */

.form-section {
    margin: 0 24%;
}

.form-section fieldset {
    padding: 1rem 1rem 2rem 1rem;
    background-color: var(--primary-color-trans);
    border: none;
}

.form-section h2 {
    padding-bottom: 2.8rem;
}

.form-section div {
    display: flex;
    flex-direction: column;
}

.form-section label, .form-section fieldset label {
    text-align: left;
    padding-bottom: 0.6rem;
}

.form-section input {
    padding: 0.4rem;
    margin-bottom: 0.5rem;
}
.radio-div2, .radio-div div {
    flex-direction: row !important;
}

textarea {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}