* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --highlight-color: darkblue;
    --minor-hightlight-color: darkslategrey;
    --genral-space: 20px;
    --minimal-space: 10px;
    --special-space-one: 10px 20px;
    --border: 1px dashed darkslategrey;
    --box-padding: 1rem;
    --accent-background-color: aliceblue;
}

nav {
    background-color: var(--highlight-color);
    padding: var(--minimal-space);
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: var(--genral-space);
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: sans-serif;
}

h1 {
    color: var(--highlight-color);
    border-bottom: 1px solid var(--minor-hightlight-color);
    padding: 10px;
}

main {
    max-width: 840px;
    grid-column: 2 / 3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
    min-height: 15vh;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 30%;
    top: 2%;
    color: #000;
}

footer {
    margin-top: var(--genral-space);
    border-top: var(--border);
    text-align: center;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}
.grid {
    display: grid;
    align-items: center;
    margin: 0 5%;
}

/* Class Selectors */

.box {
    margin: var(--box-padding);
    padding: var(--box-padding);
    border: var(--border);
    background-color: var(--accent-background-color);
    color: var(--minor-hightlight-color);
}